.title{
    text-align: center;
    margin: 3rem 0 1rem 8rem;
}

.container{
    display: grid;
    grid-template-columns: 4rem 28.125rem;
    gap: 3rem;
    justify-content: center;
   
}
.board{
    height: 28.125rem;
    width: 28.125rem;
    display: grid;
    border: 1.875rem solid blue;
    margin: 0 auto;
}

.buttons{
   display: flex;
   flex-direction: column;
   gap: 3rem;
   justify-content: center;
}

.black-btn{}

.white-btn{}

.random-color-btn{}

.eraser-btn{}

.reset-btn{}

.input{
    text-align: center;
    margin: 0.5rem 0 0 8rem;
}

.update{
    text-align: center;
    margin: 0.5rem 0 0 8rem;
}

